body {
	font-family: 'mplus-2p-medium', sans-serif;
	color: #2c2b2c;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.8px;
	position: relative;
}

.pc { display: block !important; }
.sp { display: none !important; }

footer a:hover {
	opacity: 0.7 ;
}

.menu-wrapper a:hover,.topics-content-wrapper a:hover,.news-list-wrapper a:hover{
	color: #e11a15;
}

a img:hover {
	opacity: 0.7 ;
}

button:hover {
	opacity: 0.7 ;
}


/*--------------header--------------*/
header {
	width: 100%;
	height: 80px;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 999;
}

.header-wrapper {
	width: 100%;
	max-width: 1600px;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 6.25%;
	margin: 0 auto;
}

.company-name {
	padding-top: 26px;
}

.header-right {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.menu-wrapper {
	width: 700px;
	display: flex;
	justify-content: flex-end;
	padding-top: 16px;
}

.menu-wrapper li::after {
	content: "";
	width: 5px;
	height: 5px;
	background: #222;
	display: inline-block;
	vertical-align: top;
	margin: 4px 17px 0;
}

.menu-wrapper li:last-child::after {
	content: none;
}

/*--------------hamburger------------*/
.hamburger {
  display: none;
  width: 30px;
  margin-right: 15px;
  position: absolute;
  top: 17px;
  right: 0px;
}

.hamburger span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after {
  width: 100%;
  height: 1.5px;
  background-color: #222;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.hamburger.on span {
  transform: rotate(32deg) translate(3px, 6px);
}

.hamburger.on span:after {
  transform: rotate(-64deg) translate(8px, -4px);
}

/*---------------drower---------------*/
.drower {
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	background: #fff;
	transition: all 0.3s;
	transform: translate(300px);
	z-index: 100;
	padding-top: 45px;
}

.drower.on {
	transform: translate(0); 
}

.drower ul {
	padding: 15px 0 0 42px;
}

.drower li {
	width: 100%;
	height: 51px;
	display: block;
	padding: 20px 0;
	line-height: 11px;
}

.black-box {
	content: "";
	width: 4px;
	height: 4px;
	background: #222;
	display: inline-block;
	vertical-align: top;
	margin: 4px 22px 0;
}


/*-------------mainvisual-------------*/
.mainvisual-wrapper {
	max-width: 100%;
	height: auto;
	margin-top: 80px;
	position: relative;
}

.mainvisual-wrapper {
	max-width: 100%;
	height: auto;
	overflow-x: hidden;
}

.mainvisual-wrapper img {
	width: 100%;
	height: auto;
}

.swiper-container {
	width: 90%;
	height: 100%;
	overflow: visible;
	z-index: 1;
}

.main-left {
	width: 5%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}

.bg-gray {
	width: 100%;
	height: 23%;
	background: #ededed;
}

.main-tit {
	width: 615px;
	height: 28px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 11;
}

.swiper-pagination-bullet {
	border-radius: inherit;
	margin: 0 5px!important;
	width: 51px;
	height: 2px;
	background: #fff;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background: #fff;
	position: relative;
	overflow: hidden;
}

.swiper-pagination-bullet-active::before {
	background: #ff0000;
	content: "";
	position: absolute;
	left: 0;
	height: 2px;
	width: 53px;
	animation: SlideIn 5.1s;
	z-index: 12;
}

@keyframes SlideIn {
	0% {
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/*------------------topics----------------*/
.topics-wrapper {
	width: 100%;
	height: auto;
	background: #ededed;
	padding-bottom: 60px;
}

.topics-inner {
	width: 1160px;
	height: auto;
	padding-top: 58px;
	margin: 0 auto;
}

.topics-content-wrapper {
	width: 100%;
	height: auto;
	padding-top: 39px;
	display: flex;
	justify-content: space-between;
}

.notice-wrapper,.ir-wrapper {
	width: 550px;
	height: auto;
}

.topics-content-wrapper h2 {
	font-size: 20px;
	line-height: 20px;
}

.notice-wrapper ul,.ir-wrapper ul {
	margin-top: 20px;
	padding-top: 25px;
	border-top: 1px solid #aaa;
}

.topics-content-wrapper .time {
	font-size: 12px;
	line-height: 12px;
	color: #e11a15;
	margin-bottom: 13px;
}

.topics-content-wrapper .text {
	height: 48px;
	line-height: 24px;
	margin-bottom: 35px;
}

.text-link {
	width: 100%;
}

.text-link p {
	width: 160px;
	height: 34px;
	line-height: 14px;
	border-bottom: 1px solid #222;
	position: relative;
}

.text-link .linkIcon01 {
	width: 8px;
	height: 8px;
	color: #e11a15;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 20px;
	transition: transform 0.4s;
}

.text-link .linkIcon01 img {
	vertical-align: middle;
}


.text-link p:hover .linkIcon01{
	transform: translateX(20px);
}

.topics-wrapper .text-link {
	display: flex;
	justify-content: flex-end;
}

/*------------------about----------------*/
.about-wrapper {
	width: 100%;
	height: auto;
	padding: 80px 0;
	background: url(../img/about_bg_pc.png) no-repeat;
	background-size: cover;
}

.about-inner {
	width: 1000px;
	height: 540px;
	background: rgba(255, 255, 255, 0.9);
	padding-top: 80px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-wrapper h1 {
	margin-bottom: 40px;
}

.img-happi {
	height: auto;
	margin-bottom: 32px;
}

.about-wrapper p {
	line-height: 26px;
	margin-bottom: 55px;
	text-align: center;
}

.about-wrapper .text-link {
	display: flex;
	justify-content: center;
}

/*--------------topscroll-btn-------------*/
.service-wrapper {
	width: 100%;
	height: 813px;
	padding-top: 59px;
	position: relative;
}

.service-inner {
	width: 1160px;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

.service-wrapper h1 {
	margin-bottom: 72px;
}

.service-img {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 38px;
}

.service-btn {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.service-wrapper .text-link {
	display: flex;
	justify-content: center;
}

.service-btn li div {
	margin-bottom: 12px;
}

.service-btn .text-link p {
	width: 171px;
	height: 14px;
	border-bottom: none;
}

.service-btn li:last-child .text-link p {
	width: 240px;
}

.service-bg {
	width: 100%;
	height: 254px;
	background: #222;
	position: absolute;
	top: 0;
	z-index: 0;
}

/*--------------studios-------------*/
.studios-wrapper {
	width: 100%;
	height: auto;
	background: #ededed;
	padding-bottom: 70px;
}

.studios-inner {
	width: 1160px;
	height: auto;
	padding-top: 59px;
	margin: 0 auto;
}

.studios-inner h1 {
	margin-bottom: 39px;
}

.studios-list-wrapper {
	width: 100%;
	height: auto;
}

.studios-list-wrapper li {
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 44px;
}

.studios-list-wrapper .text-wrapper {
	width: 100%;
	height: auto;
	padding: 109px 43px 0;
}

.studios-wrapper h2 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 23px;
}

.studios-wrapper .text-wrapper p {
	margin-bottom: 53px;
}

.studios-list-wrapper .list02 {
	flex-direction: row-reverse;
}

.studios-wrapper .text-link {
	display: flex;
	justify-content: flex-end;
}

/*--------------news-------------*/
.news-wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 41px;
	border-bottom: #dcdcdc solid 1px;
}

.news-inner {
	width: 1160px;
	height: auto;
	margin: 0 auto;
}

.news-content {
	width: 100%;
	display: flex;
}

.news-wrapper h1 {
	width: 240px;
	height: auto;
	padding-top: 60px;
}

.news-list-wrapper {
	width: 920px;
	height: auto;
	padding: 42px 21px 0;
	line-height: 26px;
	margin-bottom: 42px;
}

.news-list-wrapper li {
	width: 100%;
	height: auto;
	padding: 18px 0;
	display: flex;
	border-bottom: #ccc solid 1px;
}

.news-list-wrapper li:last-child {
	border-bottom: none;
}

.news-list-wrapper .notice {
	width: 120px;
	height: 26px;
	background: #222;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.news-list-wrapper .time {
	color: #e11a15;
	margin: 0 20px 0 23px;
}

.news-list-wrapper .text {
	width: 653px;
}

.news-inner .text-link {
	width: 160px;
	margin-left: 500px;
}

/*--------------recruit-------------*/
.recruit-wrapper {
	width: 100%;
	height: auto;
	padding: 39px 0 94px;
}

.recruit-inner {
	width: 1160px;
	height: auto;
	margin: 0 auto;
}

.recruit-wrapper h1 {
	margin-bottom: 40px;
}

.recruit-content {
	width: 100%;
	height: auto;
	display: flex;
}

.recruit-img {
	width: 579px;
	height: auto;
}

.recruit-text {
	margin: 109px 0 0 104px;
	display: flex;
}

.recruit-text li:first-child {
	margin-right: 60px;
}

/*--------------topscroll-btn-------------*/
.topBtn {
  position:fixed;
  right: 40px;
  z-index: 10;
  bottom: 500px;
  height:60px;
}

.topBtn-wrapper {
	max-width: 1600px;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 60px;
	height: 60px;
}

/*----------------footer----------------*/
footer {
	width: 100%;
	height: 324px;
	padding-top: 42px; 
	background: url(../img/footer_bg_pc.png) no-repeat;
	background-size: cover;
	color: #fff;
	line-height: 24px;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.footer-wrapper h1 {
	margin-bottom: 98px;
}

.footer-menu { 
	width: 100%;
	margin-bottom: 38px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-right {
	width: 420px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.footer-right li {
	margin-left: 18px;
}

.footer-right li:first-child {
	margin-left: 0;
}

.copyright {
	width: 100%;
	text-align: center;
}

/*-------------sp----------------*/
@media screen and (max-width: 758px) {
	body {
		max-width: 750px;
	font-size: 11px;
	line-height: 18px;
	letter-spacing: 0.6px;
	}

	.pc { display: none !important; }
	.sp { display: block !important; }

/*--------------header--------------*/
header {
	width: 100%;
	height: 45px;
}

.header-wrapper {
	width: 100%;
	max-width: 100%;
	justify-content: center;
	padding: 0 0;
	margin: 0 auto;
}

.header-right	{
	display: none;
}

.company-name {
	width: 145px;
	height: auto;
	padding-top: 15px;
}

.company-name img {
	width: 100%;
	height: auto;
}

/*--------------hamburger--------------*/
	.hamburger {
		display: block;
	}

/*-------------mainvisual-------------*/
.mainvisual-wrapper {
	margin-top: 45px;
}

.mainvisual-wrapper {
	overflow-x: none;
}

.swiper-container {
	width: 100%;
	overflow: visible;
	z-index: 1;
}

.main-left {
	display: none;
}

.main-tit {
	width: 70.2666666vw;
	height: 15.46666vw;
	padding-right: 12vw;
}

/*------------------topics----------------*/
.topics-wrapper {
	padding: 0 4% 50px;
}

.topics-inner {
	width: 100%;
	padding-top: 40px;
}

h1 {
	height: 5.6vw;
	width: auto;
}

h1 img {
	height: 100%;
	width: auto;
}

.topics-content-wrapper {
	padding-top: 30px;
	display: block;
}

.notice-wrapper,.ir-wrapper {
	width: 100%;
	height: auto;
}

.topics-content-wrapper h2 {
	font-size: 16px;
	line-height: 16px;
}

.notice-wrapper ul,.ir-wrapper ul {
	margin-top: 15px;
	padding-top: 21px;
	margin-bottom: 40px;
}

.topics-content-wrapper .time {
	font-size: 12px;
	line-height: 12px;
	color: #e11a15;
	margin-bottom: 5px;
}


.topics-content-wrapper .text {
	height: auto;
	line-height: 18px;
	margin-bottom: 17px;
}

.text-link p {
	width: 220px;
	height: 26px;
	line-height: 11px;
}

.text-link .linkIcon01 {
	width: 8px;
	height: 8px;
	color: #e11a15;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 20px;
	transition: transform 0.4s;
}

.text-link .linkIcon01 img {
	vertical-align: middle;
}


.text-link p:hover .linkIcon01{
	transform: translateX(20px);
}

.topics-wrapper .text-link {
	display: flex;
	justify-content: center;
}

/*------------------about----------------*/
.about-wrapper {
	width: 100%;
	height: auto;
	padding: 51px 4%;
	background: url(../img/about_bg_sp.png) no-repeat;
	background-size: cover;
}

.about-inner {
	width: 100%;
	height: auto;
	padding: 30px 6.6% 0;
}

.about-wrapper h1 {
	margin-bottom: 30px;
}

.img-happi {
	width: 77.86666vw;
	height: auto;
	margin-bottom: 26px;
}

.img-happi img {
	width: 100%;
	height: auto;
}

.about-wrapper p {
	line-height: 18px;
	margin-bottom: 30px;
}

/*--------------service-------------*/
.service-wrapper {
	position: static;
	height: auto;
	background: url(../img/service_bk.png) no-repeat;
	background-size: contain;
	padding: 5.2vw 0 0;
}

.service-inner {
	position: static;
	width: 100%;
	padding: 0 4%;
}

.service-wrapper h1 {
	margin-bottom: 39px;
}

.service-img {
	width: 100%;
	height: auto;
	display: block;
	margin-bottom: 30px;
}

.service-img img {
	width: 100%;
	height: auto;
}

.service-img li {
	margin-bottom: 12px;
}

.service-btn {
	display: block;
}

.service-btn li {
	width: 100%;
	height: auto;
	margin-bottom: 21px;
}

.service-btn li div {
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}

.service-btn li div img {
	width: 100%;
	height: auto;
}

.service-btn .text-link p {
	width: 135px;
	height: 14px;
	border-bottom: none;
}

.service-btn li:last-child .text-link p {
	width: 187px;
}

.service-bg {
	position: static;
	display: none;
}

/*--------------studios-------------*/
.studios-wrapper {
	width: 100%;
	height: auto;
	background: #ededed;
	padding-bottom: 0;
}

.studios-inner {
	width: 100%;
	padding-top: 30px;
}

.studios-inner h1 {
	margin-bottom: 26px;
	padding-left: 4%;
}

.studios-list-wrapper li {
	display: block;
	margin-bottom: 0;
}

.studios-list-wrapper .img-wrapper {
	padding-right: 8%;
}

.studios-list-wrapper .list02 .img-wrapper {
	padding-right: 0;
	padding-left: 8%;
}

.studios-list-wrapper li img {
	width: 100%;
	height: auto;
}

.studios-list-wrapper .text-wrapper {
	width: 100%;
	height: auto;
	padding: 20px 4% 0;
}

.studios-wrapper h2 {
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 29px;
}

.studios-wrapper .text-wrapper p {
	line-height: 20px;
	margin-bottom: 40px;
}

/*--------------topscroll-btn-------------*/
.news-wrapper {
	padding: 40px 4% 0;
}

.news-inner {
	width: 100%;
}

.news-content {
	display: block;
}

.news-wrapper h1 {
	width: 100%;
	height: 5.6vw;
	padding-top: 0;
}

.news-list-wrapper {
	width: 100%;
	padding: 10px 0 0;
	line-height: 26px;
	margin-bottom: 38px;
}

.news-list-wrapper li {
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.news-list-wrapper .notice {
	width: 100px;
	font-size: 10px;
}

.news-list-wrapper .time {
	width: 50%;
	margin: 0 0 0 16px;
}

.news-list-wrapper .text {
	width: 653px;
	line-height: 18px;
	margin-top: 15px;
}

.news-inner .text-link {
	width: 100%;
	margin-left: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

/*--------------recruit-------------*/
.recruit-wrapper {
	width: 100%;
	height: auto;
	padding: 39px 4% 60px;
}

.recruit-inner {
	width: 100%;
}

.recruit-wrapper h1 {
	margin-bottom: 30px;
}

.recruit-content {
	display: block;
}

.recruit-img {
	width: 100%;
}

.recruit-img img {
	width: 100%;
	height: auto;
}

.recruit-text {
	width: 100%;
	margin: 30px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.recruit-text li:first-child {
	margin-right: 0;
}

.recruit-text .text-link{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

/*--------------topscroll-btn-------------*/
.topBtn {
  right: 15px;
  bottom: 40px;
  height:40px;
}

.topBtn-wrapper {
	width: 100%;
	max-width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 40px;
	height: 40px;
}

/*----------------footer----------------*/
footer {
	height: 200px;
	padding-top: 30px; 
	background: url(../img/footer_bg_sp.png) no-repeat;
	background-size: cover;
	line-height: 24px;
}

.footer-wrapper {
	width: 100%;
}

.footer-wrapper h1 {
	width: 200px;
	height: auto;
	margin:0 auto 43px;
}

.footer-wrapper h1 img {
	width: 100%;
	height: auto;
}

.footer-menu { 
	width: 100%;
	margin-bottom: 32px;
	align-items: center;
}

.footer-right {
	width: 350px;
	font-size: 12px;
	line-height: 25px;
	justify-content: center;
}

.footer-right li {
	margin-left: 17px;
}

.footer-right li:first-child {
	margin-left: 0;
}

.footer-right li:last-child {
	margin-right: 17px;
}

.copyright {
	width: 100%;
	font-size: 10px;
	line-height: 10px;
	text-align: center;
}

	}