body {
	font-family: 'mplus-2p-medium', sans-serif;
	color: #2c2b2c;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.8px;
	position: relative;
}

.pc { display: block !important; }
.sp { display: none !important; }

a:hover {
	opacity: 0.7 ;
}

a img:hover {
	opacity: 0.7 ;
}

button:hover {
	opacity: 0.7 ;
}


/*--------------header--------------*/
header {
	width: 100%;
	height: 80px;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 999;
}

.header-wrapper {
	width: 100%;
	max-width: 1600px;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 6.25%;
	margin: 0 auto;
}

.company-name {
	padding-top: 26px;
}

.header-right {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.menu-wrapper {
	width: 700px;
	display: flex;
	justify-content: flex-end;
	padding-top: 16px;
}

.menu-wrapper li::after {
	content: "";
	width: 5px;
	height: 5px;
	background: #222;
	display: inline-block;
	vertical-align: top;
	margin: 4px 17px 0;
}

.menu-wrapper li:last-child::after {
	content: none;
}

/*--------------hamburger------------*/
.hamburger {
  display: none;
  width: 40px;
  margin-right: 15px;
  position: absolute;
  top: 24px;
  right: 0px;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.hamburger span:after{
  top: 9px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 1px;
  background-color: #222;
  transition: all 0.5s;
  backface-visibility: hidden;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(32deg) translate(4px, 8px);
}

.hamburger.on span:after {
  transform: rotate(-32deg) translate(4px, -8px);
}

/*---------------drower---------------*/
.drower {
	height: 571px;
	width: 100vw;
	padding-top: 55px;
	background-color: #fff;
	display: block;
	position: fixed;
	z-index: 9;
	display: none;
}

.drower li {
	width: 100%;
	height: 61px;
	text-align: center;
	display: block;
}

.drower li p {
	height: 100%;
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
	,margin: 0 25px;
}


/*-------------mainvisual-------------*/
.mainvisual-wrapper {
	max-width: 100%;
	height: auto;
	margin-top: 80px;
	position: relative;
}

.mainvisual-wrapper {
	max-width: 100%;
	height: auto;
	overflow-x: hidden;
}

.mainvisual-wrapper img {
	width: 100%;
	height: auto;
}

.swiper-container {
	width: 90%;
	height: 100%;
	overflow: visible;
	z-index: 1;
}

.main-left {
	width: 5%;
	height: 100%;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;
}

.bg-gray {
	width: 100%;
	height: 23%;
	background: #ededed;
}

.main-tit {
	width: 615px;
	height: 28px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 11;
}

/*------------------topics----------------*/
.topics-wrapper {
	width: 100%;
	height: auto;
	background: #ededed;
	padding-bottom: 60px;
}

.topics-inner {
	width: 1160px;
	height: auto;
	padding-top: 58px;
	margin: 0 auto;
}

.topics-content-wrapper {
	width: 100%;
	height: auto;
	padding-top: 39px;
	display: flex;
	justify-content: space-between;
}

.notice-wrapper,.ir-wrapper {
	width: 550px;
	height: auto;
}

.topics-content-wrapper h2 {
	font-size: 20px;
	line-height: 20px;
}

.notice-wrapper ul,.ir-wrapper ul {
	margin-top: 20px;
	padding-top: 25px;
	border-top: 1px solid #aaa;
}

.topics-content-wrapper .time {
	font-size: 12px;
	line-height: 12px;
	color: #e11a15;
	margin-bottom: 13px;
}

.topics-content-wrapper .text {
	height: 48px;
	line-height: 24px;
	margin-bottom: 35px;
}

.text-link {
	width: 100%;
}

.text-link p {
	width: 160px;
	height: 34px;
	line-height: 14px;
	border-bottom: 1px solid #222;
	position: relative;
}

.text-link .linkIcon01 {
	width: 8px;
	height: 8px;
	color: #e11a15;
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	right: 20px;
	transition: transform 0.4s;
}

.text-link .linkIcon01 img {
	vertical-align: middle;
}


.text-link p:hover .linkIcon01{
	transform: translateX(20px);
}

.topics-wrapper .text-link {
	display: flex;
	justify-content: flex-end;
}

/*------------------about----------------*/
.about-wrapper {
	width: 100%;
	height: auto;
	padding: 80px 0;
	background: url(../img/about_bg_pc.png);
}

.about-inner {
	width: 1000px;
	height: 540px;
	background: rgba(255, 255, 255, 0.9);
	padding-top: 80px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-wrapper h1 {
	margin-bottom: 40px;
}

.img-happi {
	height: auto;
	margin-bottom: 32px;
}

.about-wrapper p {
	line-height: 26px;
	margin-bottom: 55px;
}

.about-wrapper .text-link {
	display: flex;
	justify-content: center;
}

/*--------------studios-------------*/
.studios-wrapper {
	width: 100%;
	height: auto;
	background: #ededed;
}

.studios-inner {
	width: 1160px;
	height: auto;
	padding-top: 59px;
	margin: 0 auto;
}

.studios-inner h1 {
	margin-bottom: 39px;
}

.studios-list-wrapper {
	width: 100%;
	height: auto;
}

.studios-list-wrapper li {
	width: 100%;
	height: auto;
	display: flex;
}



/*--------------topscroll-btn-------------*/
.service-wrapper {
	width: 100%;
	height: 813px;
	padding-top: 59px;
	position: relative;
}

.service-inner {
	width: 1160px;
	height: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

.service-wrapper h1 {
	height: auto;
	margin-bottom: 72px;
}

.service-img {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.service-img {
	width: auto;
	height: auto;
	margin-bottom: 38px;
}

.service-btn {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.service-wrapper .text-link {
	display: flex;
	justify-content: center;
}

.service-btn li div {
	margin-bottom: 12px;
}

.service-btn .text-link p {
	width: 171px;
	height: 14px;
	border-bottom: none;
}

.service-btn li:last-child .text-link p {
	width: 240px;
}

.service-bg {
	width: 100%;
	height: 254px;
	background: #222;
	position: absolute;
	top: 0;
	z-index: 0;
}

/*--------------studios-------------*/
.studios-wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 70px;
}

.studios-inner {
	width: 1160px;
	height: auto;
}

.studios-list-wrapper {
	width: 100%;
	height: auto;
}

.studios-list-wrapper li {
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 44px;
}

.studios-list-wrapper .text-wrapper {
	width: 100%;
	height: auto;
	padding: 109px 43px 0;
}

.studios-wrapper h2 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 23px;
}

.studios-wrapper .text-wrapper p {
	margin-bottom: 53px;
}

.studios-list-wrapper .list02 {
	flex-direction: row-reverse;
}

/*--------------topscroll-btn-------------*/
.news-wrapper {
	width: 100%;
	height: auto;
	padding-bottom: 41px;
	border-bottom: #dcdcdc solid 1px;
}

.news-inner {
	width: 1160px;
	height: auto;
	margin: 0 auto;
}

.news-content {
	width: 100%;
	display: flex;
}

.news-wrapper h1 {
	width: 240px;
	height: auto;
	padding-top: 60px;
}

.news-list-wrapper {
	width: 920px;
	height: auto;
	padding: 42px 21px 0;
	line-height: 26px;
	margin-bottom: 42px;
}

.news-list-wrapper li {
	width: 100%;
	height: auto;
	padding: 18px 0;
	display: flex;
	border-bottom: #ccc solid 1px;
}

.news-list-wrapper li:last-child {
	border-bottom: none;
}

.news-list-wrapper .notice {
	width: 120px;
	height: 26px;
	background: #222;
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.news-list-wrapper .time {
	margin: 0 20px 0 23px;
}

.news-list-wrapper .text {
	width: 653px;
}

.news-inner .text-link {
	margin-left: 500px;
}


/*--------------topscroll-btn-------------*/
.topBtn {
  position:fixed;
  right: 40px;
  z-index: 10;
  bottom: 500px;
  height:60px;
}

.topBtn-wrapper {
	max-width: 1600px;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 60px;
	height: 60px;
}

/*----------------footer----------------*/
footer {
	width: 100%;
	height: 170px;
	padding-top: 42px; 
	background: #222;
	color: #fff;
	line-height: 14px;
}

.footer-wrapper {
	width: 1160px;
	margin: 0 auto;
}

.company-name-w {
	display: block;
}

.company-name-sp {
	display: none;
}

.footer-right { 
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer-wrapper ul {
	width: 680px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 28px;
}



/*-------------sp----------------*/
@media screen and (max-width: 758px) {
	body {
		max-width: 750px;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: 0.8px;
	}

	.pc { display: none !important; }
	.sp { display: block !important; }




/*--------------hamburger--------------*/
	.hamburger {
		display: block;
	}

/*--------------header--------------*/
.header-right	{
	display: none;
}


/*--------------topscroll-btn-------------*/
.topBtn {
  right: 15px;
  bottom: 40px;
  height:40px;
}

.topBtn-wrapper {
	width: 100%;
	max-width: 100vw;
	display: flex;
	justify-content: flex-end;
}

.topBtn-anime-wrapper {
	display: flex;
}

.topBtn-anime {
	transition: .5s ;
	transform: rotateZ( 0deg ) ;
}

.topBtn-anime-wrapper:hover .topBtn-anime {
	transform: rotateZ( 360deg );
}

.topBtn img {
	width: 40px;
	height: 40px;
}



/*----------------footer----------------*/












	}